---
import { siteConfig, socialLinks } from "@/site-config";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="me-0 sm:me-4">
		&copy; {siteConfig.author}
		{year}&nbsp;<span class="inline-block"><Icon aria-hidden="true" class="h-4 w-4" focusable="false" name={"ph:rocket-launch-duotone"} /></span>
	</div>
	<nav aria-label="More on this site" class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="flex">
					<a class="px-2 py-2 sm:py-0 sm:hover:text-link" href={link} rel={`noopener noreferrer`} target="_blank">
						<Icon aria-hidden="true" class="h-4 w-4" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</nav>
</footer>
