---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";

const ip = Astro.request.headers.get("x-real-ip");
const city = decodeURIComponent(Astro.request.headers.get("x-vercel-ip-city"));

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "A simple opinionated Astro theme used for this website.",
		href: "https://astro.build/themes/details/astro-cactus/",
		title: "Astro Cactus",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "For managing Infrastructure as Code and CI/CD.",
		href: "https://docs.aws.amazon.com/cdk/v2/guide/cdk_pipeline.html",
		title: "CDK pipelines",
	},
	{
		desc: "Edge-network hosting assets for this website.",
		href: "https://aws.amazon.com/cloudfront/",
		title: "Amazon Cloudfront",
	},
	{
		desc: `Deploys the website on edge being retrieved by ${ip} in ${city}.`,
		href: "https://vercel.com",
		title: "Vercel",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">
			<span class="inline-block"><Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={"ph:hand-waving-duotone"} /></span>&nbsp;Bonjour!
		</h1>
		<p class="mb-4">
			Hi, I’m Stelo, a full-stack Software Engineer based in Seattle, Washington. I'm passionate about shaping the future through Distributed Computing, Large-scale System Designs, Microservices and
			Test-Driven Development. I specialize in crafting efficient solutions through innovation and collaboration. You can connect with me on my socials:
		</p>
		<SocialList />
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">
			<span class="inline-block"><Icon aria-hidden="true" class="h-5 w-5" focusable="false" name={"ph:stack-overflow-logo-duotone"} /></span>&nbsp;Tech Used
		</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
